<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Essen für Alle</title>
  <link rel="shortcut icon" href="https://system.essenfueralle.org/essenlogo.jpg">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <center>
    <div class="content">
      <div class="title title-gray">
        <h1>Essen für Alle</h1>
        <h2>Vorregistration</h2>
      </div>
      <div class="title-q">
        <h1>Welche Sprache sprichst du?</h1>
      </div>

      <div class="flex">
        <div class="flag_btn" onclick="window.location = '/form?lang=en'">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpreview.redd.it%2F68cdrlhal0hz.png%3Fauto%3Dwebp%26s%3Da7e6c8f70065646b72d45fc6ba12c6bb9bf56923&f=1&nofb=1"
            class="flag_btn_img">
          <h2>English</h2>
        </div>
        <div class="flag_btn" onclick="window.location = '/form?lang=uk'">
          <img src="https://wallpapercave.com/wp/wp3867060.jpg" class="flag_btn_img">
          <h2>український</h2>
        </div>
        <div class="flag_btn" onclick="window.location = '/form?lang=de'">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F409%2F287%2Foriginal%2Fillustration-of-german-flag-vector.jpg&f=1&nofb=1"
            class="flag_btn_img">
          <h2>Deutsch</h2>
        </div>
        <div class="flag_btn" onclick="window.location = '/form?lang=fr'">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.freelogovectors.net%2Fwp-content%2Fuploads%2F2012%2F05%2Ffrance-flag.jpg&f=1&nofb=1"
            class="flag_btn_img">
          <h2>Français</h2>
        </div>
        <div class="flag_btn" onclick="window.location = '/form?lang=ku'">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.mumbaiblogg.com%2Fwp-content%2Fuploads%2F2017%2F08%2F1280px-Flag_of_Kurdistan_Khoiboun-1024x682.png&f=1&nofb=1"
            class="flag_btn_img">
          <h2>Kurdî</h2>
        </div>
        <div class="flag_btn" onclick="window.location = '/form?lang=ar'">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp4215855.jpg&f=1&nofb=1"
            class="flag_btn_img">
          <h2>عربي</h2>
        </div>
        <div class="flag_btn" onclick="window.location = '/form?lang=fa'">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages3.alphacoders.com%2F984%2F984111.jpg&f=1&nofb=1"
            class="flag_btn_img">
          <h2>فارسی</h2>
        </div>
        <div class="flag_btn" onclick="window.location = '/form?lang=es'">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fechesters.co.uk%2Fimages%2Fposts%2Fflag-of-spain.png&f=1&nofb=1"
            class="flag_btn_img">
          <h2>español</h2>
        </div>
      </div>
    </div>

    </div>
  </center>
</body>

</html>