<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://system.essenfueralle.org/essenlogo.jpg">
    <title>Essen für Alle</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <center>
    <div class="content">
        <div class="qr_container">

        </div>
    </div>
</center>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script>
     new QRCode(document.querySelector(".qr_container"), <%-jwt%>);
</script>